@tailwind base;
@tailwind components;
@tailwind utilities;

.circle-div {
    background-color: #d4d8db;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    position: fixed;
    bottom: 40px;
    right: 25px;
    cursor: pointer;
}

body {
    height:max-content;
    background-image: url(./components/layout/assets/bckg.jpg);
    background-attachment:fixed;
    background-size: 6000px;
    background-repeat: repeat;
}